.Checkout {
  text-align: center;
  margin: auto;
  width: 80%;
}

/* @media (min-width: 600px) {
  .Checkout {
    width: 500px;
  }
} */

.ContactData {
  margin: 20px auto;
  width: 80%;
  text-align: center;
  box-shadow: 0 2px 3px #ccc;
  border: 1px solid #eee;
  padding: 10px;
  box-sizing: border-box;
}

.INPUT {
  display: block;
}

@media (min-width: 600px) {
  .ContactData {
    width: 500px;
  }
}
